{% extends "base.html" %}
<div class="form-group">
    <label for="categoria">Categoria:</label>
    <select class="form-control" id="categoria" name="categoria">
        <option value="Bolos" {% if receita[3] == 'Bolos' %}selected{% endif %}>Bolos</option>
        <option value="Doces" {% if receita[3] == 'Doces' %}selected{% endif %}>Doces</option>
        <option value="Tortas" {% if receita[3] == 'Tortas' %}selected{% endif %}>Tortas</option>
    </select>

</div>
    <div class="form-group">
        <label for="tempo_preparo">Tempo (minutos):</label>
        <input type="number" class="form-control" id="tempo_preparo" name="tempo_preparo" value="{{ receita[4] }}" required>
    </div>

    <div class="form-group">
        <label for="descricao">Modo de Preparo:</label>
        <textarea class="form-control" id="descricao" name="descricao" rows="5" required>{{ receita[5] }}</textarea>
    </div>
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
</div>
{% endblock %}