{% extends "base.html" %}

{% block conteudo %}
<p>Quantidade de receitas: {{ receitas|length }}</p>
<h1>Receitas</h1>

<div class="artigos">
  {% if receitas %}
    <ul>
      {% for receita in receitas %}
        <li class="card">
          <h2>{{ receita.titulo }}</h2>
          <img src="{{ receita.imagem_url }}" alt="Foto de {{ receita.titulo }}" style="max-width:300px;">
          <p><strong>Categoria:</strong> {{ receita.categoria }}</p>
          <p><strong>Tempo de preparo:</strong> {{ receita.tempo_preparo }} minutos</p>
           <p>{{ receita['descricao'][:100] }}...</p>
        </li>
        <a href="{{ url_for('detalhe_receita', receita_id=receita['id']) }}">Quero aprender!!</a>
      {% endfor %}
    </ul>
  {% else %}
    <p>Não há receitas cadastradas ainda.</p>
  {% endif %}
</div>
{% endblock %}



